<div class="chatroom-profile">
    <span class="chatroom-img"><img src="<%=chatroom[0].guest.image%>" alt=""></span>
    <h2><%=chatroom[0].guest.name%></h2>
</div>

<div id="updateDiv">
    <div id="clicked-img">
        <img id="inside-img" src="" alt="">
    </div>
    
    <%- include('messageBoard.ejs', {messages: messages, guest: chatroom[0].guest})
    %>
</div>