<h2>Sign Up</h2>
<form action="/sign-up" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="" />
  <label for="lastname">Last Name:</label>
  <input type="text" name="lastname" id="" />
  <label for="username">Username:</label>
  <input type="text" name="username" id="" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="" />
  <button type="submit">Sign Up</button>
</form>
