<h2>Sign Up</h2>
<form action="/sign-up" method="POST" class="form">
  <label for="name">Name:</label>
  <input type="text" name="name" id="" placeholder="Enter Name"/>
  <label for="lastname">Last Name:</label>
  <input type="text" name="lastname" id="" placeholder="Enter Last Name"/>
  <label for="username">Username:</label>
  <input type="text" name="username" id="" placeholder="Enter Username" />
  <label for="password">Password:</label>
  <input type="password" name="password" id="" placeholder="Enter Password"/>
  <button type="submit">Sign Up</button>
</form>
