#message-container {
  max-width: 500px;
  min-width: 300px;
  box-sizing: border-box;
  height: 55vh;
  max-height: 575px;
  padding: 15px;

  border: 1px solid black;
  display: flex;

  flex-direction: column-reverse;
  overflow-y: scroll;
  /* margin-bottom: 25px; */
  background-color: rgb(41, 39, 39);
  border-radius: 5px;
}

#message-container::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

#message-container::-webkit-scrollbar:vertical {
  width: 15px;
}

#message-container::-webkit-scrollbar:horizontal {
  height: 11px;
}

#message-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

#message-container::-webkit-scrollbar-track {
  background-color: rgb(189, 11, 135);

  border-radius: 5px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 10px;
}

.other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-user,
.message-another {
  border-radius: 30px;
  max-width: 200px;
  min-width: 100px;
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  font-size: 0.9em;
  word-break: break-all;
  color: white;
}

.message-user {
  /* background-color: #12d612; */
  background-color: rgb(189, 11, 135);
}
.message-another {
  background-color: gray;
}

.message-info {
  color: white;
}

.message-img {
  width: 100%;
  height: 100%;
}
